<div class="container-fluid overflow-vehicle">
  <div class="row text-center pt-2">
    <h1>Cadastro de Veiculos</h1>
    <h4 *ngIf="error" style="color: red;">{{error}}</h4>
  </div>
  <form [formGroup]="form">
    <div class="container d-flex justify-content-center pt-4">
      <mat-form-field>
        <mat-label>Placa</mat-label>
        <input matInput formControlName="plate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chassis</mat-label>
        <input matInput formControlName="chassis">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Renavam</mat-label>
        <input matInput formControlName="renavam">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Marca</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="model">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ano</mat-label>
        <input matInput formControlName="year">
      </mat-form-field>
    </div>
    <div class="text-center pt-2">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="form.invalid"
        (click)="createVehicle()"
      >
        Cadastrar Veiculo
      </button>
    </div>
  </form>

  <hr style="background-color: gray" />

  <div class="row text-center pt-4">
    <h1>Veiculos:</h1>
  </div>

  <div class="container pt-4">
    <div class="mat-elevation-z8 overflow-container">
      <table mat-table [dataSource]="dataSource">

        <!-- Placa Column -->
        <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef> Placa </th>
          <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
        </ng-container>

        <!-- Chassis Column -->
        <ng-container matColumnDef="chassis">
          <th mat-header-cell *matHeaderCellDef> Chassis </th>
          <td mat-cell *matCellDef="let element"> {{element.chassis}} </td>
        </ng-container>

        <!-- Renavam Column -->
        <ng-container matColumnDef="renavam">
          <th mat-header-cell *matHeaderCellDef> Renavam </th>
          <td mat-cell *matCellDef="let element"> {{element.renavam}} </td>
        </ng-container>

        <!-- Marca Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.brand.name}} </td>
        </ng-container>

        <!-- Modelo Column -->
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.brand.model}} </td>
        </ng-container>

        <!-- Ano Column -->
        <ng-container matColumnDef="ano">
          <th mat-header-cell *matHeaderCellDef> Ano </th>
          <td mat-cell *matCellDef="let element"> {{element.brand.year}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

</div>
